@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html {
  padding: 2rem;
}

.editor {
  border: 1px solid #ccc;
  padding: 10px;
}

.toolbar {
  display: flex;
  margin-bottom: 10px;
}

.toolbar button {
  margin-right: 5px;
}

.content {
  min-height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
}

.entity {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  border-radius: 10%;
  margin: 0.1rem;
}

.tag-icon {
  padding-left: 0.6rem;
}

.person, .person-button {
  background-color: #fcca46;
}

.person-block i {
  color: #fcca46;
}

.place, .place-button {
  background-color: #80ed99;
}

.place-block i {
  color: #80ed99;
}

.organization, .organization-button {
  background-color: #fe7f2d;
}

.organization-block i {
  color: #fe7f2d;
}

.work, .work-button {
  background-color: #ff8fab;
}

.work-block i {
  color: #ff8fab;
}

.date, .date-button {
  background-color: #00f5d4;
}

.date-block i {
  color: #00f5d4;
}

.panel-content {
  display: block;
}

.panel-blocks {
  margin-top: 20px;
}

.panel-block {
  display: block;
  padding: 1rem;
  margin-bottom: 0.5rem !important;
}

.accordion-header {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.accordion-content {
  margin-top: 1rem;
}