<div class="container" data-type="abstract">
<label class="label">Abstract</label>
<div class="field abstract-input-group input-group" data-id="{{ existing_abstract.id }}">
      <div class="row column">
        <div class="row">
          <div class="control has-icons-left flex-full-width">
            <input type="hidden" name="existing-abstract-id" value="{{ existing_abstract.id }}">
            <textarea id="abstract-text" name="abstract-text" class="input metadata-abstract metadata-abstract-text" type="textarea" placeholder="Enter document abstract">{{ existing_abstract.text }}</textarea>
            <span class="icon is-small is-left">
              <i class="fas fa-font"></i>
            </span>
          </div>
        </div>
      </div>
</div>
</div>