<div class="container" data-type="abstract">
<label class="label">Abstract</label>
<div class="field abstract-input-group input-group">
  <div class="row column">
    <div class="hidden row">
      <div class="control has-icons-left flex-full-width">
        <textarea id="abstract-text" name="abstract-text" class="input metadata-abstract metadata-abstract-text" type="textarea" placeholder="Enter document abstract"></textarea>
        <span class="icon is-small is-left">
          <i class="fas fa-font"></i>
        </span>
      </div>
    </div>
    <span class="button is-success is-light add-button add-abstract-button">
      <i class="fa-solid fa-plus"></i>
    </span>
  </div>
</div>

{% for existing_abstract in existing_abstracts %}
<div class="field abstract-input-group input-group" data-id="{{ existing_abstract.id }}">
      <div class="row column">
        <div class="row">
          <div class="control has-icons-left flex-full-width">
            <input type="hidden" name="existing-abstract-id" value="{{ existing_abstract.id }}">
            <textarea id="abstract-text" name="abstract-text" class="input metadata-abstract metadata-abstract-text" type="textarea" placeholder="Enter document abstract">{{ existing_abstract.text }}</textarea>
            <span class="icon is-small is-left">
              <i class="fas fa-font"></i>
            </span>
          </div>
        </div>
        <span class="button is-danger is-light remove-abstract-button">
          <i class="fa-solid fa-minus"></i>
        </span>
      </div>
</div>
{% endfor %}
</div>