<div class="box accordion">

  <div class="metadata-accordion-header title is-4">
    <a class="accordion-toggle">Calendar description</a>
  </div>

  <div class="accordion-content is-hidden">
    <div class="field">
        <label class="label">Calendar</label>
        <div class="control">
          <div class="calendar-input-group input-group">
            <input class="input metadata-calendar metadata-calendar-description" type="text" placeholder="Enter calendar usage information">
            <input class="input metadata-calendar metadata-calendar-identifier" type="text" placeholder="Enter calendar identifier">
            <div class="select">
              <select class="calendar-dropdown">
                <option value="actual">Actual</option>
                <option value="fictional">Fictional</option>
                <!-- Add more calendar options here -->
              </select>
            </div>
            <span class="button is-success is-light add-calendar-button"><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
    </div>
    <div class="additional-calendars">
    <!-- Additional calendars will be inserted here -->
    </div>
  </div>

</div>