<div class="container" data-type="category">
<label class="label">Category</label>
{% for existing_category in existing_categories %}
  <div class="field category-input-group input-group" data-id="{{ existing_category.id }}">
      <div class="row column">
        <div class="row">
          <div class="control has-icons-left">
            <input type="hidden" name="existing-category-id" value="{{ existing_category.id }}">
            <div class="select">
              <select id="category-type" name="category-type" class="dropdown metadata-category-type">
                <option value="">--Select--</option>
                {% for concept in concepts %}
                    <option value="{{ concept.value }}" {% if concept.value == existing_category.type %}selected{% endif %}>{{ concept.label }}</option>
                {% endfor %}
              </select>
            </div>
            <span class="icon is-small is-left">
              <i class="fas fa-book"></i>
            </span>
          </div>
        </div>
        <span class="button is-success is-light add-button add-category-button">
          <i class="fa-solid fa-plus"></i>
        </span>
      </div>
  </div>
{% endfor %}
</div>