<div class="box">

    <h2 class="title">Creation</h2>

    <div class="field">
        <label class="label">Creation place</label>
        <div class="control">
          <div class="creation-place-input-group input-group">
            <input class="input metadata-creation-place metadata-creation-place-name" type="text" placeholder="Enter creation place name">
            <input class="input metadata-creation-place metadata-creation-place-authority" type="text" placeholder="Enter authority record">
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Creation date</label>
        <div class="control">
          <div class="creation-date-input-group input-group">
            <input class="input metadata-creation-date" type="date">
          </div>
        </div>
      </div>

</div>