<div class="box accordion">

  <div class="metadata-accordion-header title is-4">
    <a class="accordion-toggle">Creation</a>
  </div>

  <div class="accordion-content is-hidden">
    <div class="field">
        <label class="label">Creation place</label>
        <div class="control">
          <div class="creation-place-input-group input-group">
            <input id="creationPlace-name" name="creationPlace-name" class="input metadata-creation-place metadata-creation-place-name" type="text" placeholder="Enter creation place name">
            <input id="creationPlace-authority" name="creationPlace-authority" class="input metadata-creation-place metadata-creation-place-authority" type="text" placeholder="Enter authority record">
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Creation date</label>
        <div class="control">
          <div class="creation-date-input-group input-group">
            <input id="creationDate-date" name="creationDate-date" class="input metadata-creation-date" type="date">
          </div>
        </div>
      </div>
  </div>

</div>