<div class="box">

    <h2 class="title">Editorial declaration</h2>

    <div class="field">
        <label class="label">Correction</label>
        <div class="control">
          <div class="correction-input-group input-group">
            <textarea class="input metadata-correction" type="textarea" placeholder="Enter correction information"></textarea>
            <div class="select">
              <select class="status-dropdown">
                <option value="high">High</option>
                <option value="medium">Medium</option>
                <option value="low">Low</option>
                <option value="unknown">Unknown</option>
              </select>
            </div>
            <div class="select">
              <select class="method-dropdown">
                <option value="silent">Silent</option>
                <option value="markup">Markup</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Hyphenation</label>
        <div class="control">
          <div class="hyphenation-input-group input-group">
            <textarea class="input metadata-hyphenation" type="textarea" placeholder="Enter hyphenation information"></textarea>
            <div class="select">
              <select class="eol-dropdown">
                <option value="all">All</option>
                <option value="some">Some</option>
                <option value="hard">Hard</option>
                <option value="none">None</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Interpretation</label>
        <div class="control">
          <div class="interpretation-input-group input-group">
            <textarea class="input metadata-interpretation" type="textarea" placeholder="Enter interpretation information"></textarea>
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Normalization</label>
        <div class="control">
          <div class="normalization-input-group input-group">
            <textarea class="input metadata-normalization" type="textarea" placeholder="Enter normalization information"></textarea>
            <div class="select">
              <select class="method-dropdown">
                <option value="silent">Silent</option>
                <option value="markup">Markup</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Punctuation</label>
        <div class="control">
          <div class="punctuation-input-group input-group">
            <textarea class="input metadata-punctuation" type="textarea" placeholder="Enter punctuation information"></textarea>
            <div class="select">
              <select class="marks-dropdown">
                <option value="none">None</option>
                <option value="some">Some</option>
                <option value="all">All</option>
              </select>
            </div>
            <div class="select">
              <select class="placement-dropdown">
                <option value="internal">Internal</option>
                <option value="external">External</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Quotation</label>
        <div class="control">
          <div class="quotation-input-group input-group">
            <textarea class="input metadata-quotation" type="textarea" placeholder="Enter quotation information"></textarea>
            <div class="select">
              <select class="marks-dropdown">
                <option value="none">None</option>
                <option value="some">Some</option>
                <option value="all">All</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Segmentation</label>
        <div class="control">
          <div class="segmentation-input-group input-group">
            <textarea class="input metadata-segmentation" type="textarea" placeholder="Enter segmentation information"></textarea>
          </div>
        </div>
      </div>
      
</div>