<div class="box">

    <h2 class="title">Extent</h2>

    <div class="field">
        <label class="label">Extent</label>
        <div class="control">
          <div class="extent-input-group input-group">
            <input class="input metadata-extent" type="text" placeholder="Enter extent information">
            <span class="button is-success is-light add-extent-button"><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="additional-extents">
        <!-- Additional extents will be inserted here -->
      </div>
      
</div>