<div class="box">

    <h2 class="title">Language usage</h2>

    <div class="field">
        <label class="label">Language</label>
        <div class="control">
          <div class="language-input-group input-group">
            <input class="input metadata-language metadata-language-description" type="text" placeholder="Enter language used">
            <div class="select">
              <select class="language-ident-dropdown">
                <option value="en">en</option>
                <option value="it">it</option>
                <option value="es">es</option>
                <option value="fr">fr</option>
                <!-- Add more language options here -->
              </select>
            </div>
            <input class="input metadata-language metadata-language-usage" type="text" placeholder="Enter language usage">
            <span class="button is-success is-light add-language-button"><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="additional-languages">
        <!-- Additional identifiers will be inserted here -->
      </div>

</div>