<div class="box accordion">

  <div class="metadata-accordion-header title is-4">
    <a class="accordion-toggle">Language usage</a>
  </div>

  <div class="accordion-content is-hidden">
    <div class="field">
        <label class="label">Language</label>
        <div class="control">
          <div class="language-input-group input-group">
            <input id="language-text" name="language-text" class="input metadata-language metadata-language-description" type="text" placeholder="Enter language used">
            <div class="select">
              <select id="language-ident" name="language-ident" class="language-ident-dropdown">
                <option value="en">en</option>
                <option value="it">it</option>
                <option value="es">es</option>
                <option value="fr">fr</option>
                <!-- Add more language options here -->
              </select>
            </div>
            <input id="language-usage" name="language-usage" class="input metadata-language metadata-language-usage" type="number" placeholder="Enter language usage">
            <span class="button is-success is-light add-button add-language-button"><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="additional-language additional-container">
        <!-- Additional identifiers will be inserted here -->
      </div>
  </div>

</div>