<label class="label">License</label>
<div class="field">
    <div class="license-input-group input-group">
        <div class="row">
            <div class="control has-icons-left">
                <div class="select">
                    <select id="license-link" name="license-link" class="dropdown">
                        <option value="">--Select--</option>
                        <option value="https://creativecommons.org/publicdomain/zero/1.0/">CC0 (Creative Commons Zero)</option>
                        <option value="https://creativecommons.org/licenses/by/4.0/">CC BY (Attribution)</option>
                        <option value="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA (Attribution-ShareAlike)</option>
                        <option value="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC (Attribution-NonCommercial)</option>
                        <option value="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA (Attribution-NonCommercial-ShareAlike)</option>
                        <option value="https://opensource.org/licenses/MIT">MIT License</option>
                        <option value="https://opensource.org/licenses/BSD-3-Clause">BSD License</option>
                        <option value="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License (GPL)</option>
                        <option value="https://www.gnu.org/licenses/lgpl-3.0.en.html">GNU Lesser General Public License (LGPL)</option>
                        <!-- ADD "OTHER" OPTION? -->
                    </select>
                </div>
                <span class="icon is-small is-left">
                    <i class="fas fa-copyright"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="control has-icons-left">
                <textarea id="license-text" name="license-text" class="input metadata-license metadata-license-text" type="textarea" placeholder="Enter license information"></textarea>
                <span class="icon is-small is-left">
                    <i class="fas fa-font"></i>
                </span>
            </div>
        </div>
    </div>
</div>