<div class="box">

    <h2 class="title">Manuscript description</h2>

    <h3 class="subtitle">msIdentifier</h3>

        <div class="field">
            <label class="label">Settlement</label>
            <div class="control">
                <div class="settlement-input-group input-group">
                    <input 
                    class="input 
                    metadata-settlement 
                    metadata-settlement-name" 
                    type="text" 
                    placeholder="Enter settlement name">
                    <input 
                    class="input 
                    metadata-settlement 
                    metadata-settlement-authority" 
                    type="text" 
                    placeholder="Enter authority record">
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Repository</label>
            <div class="control">
                <div class="repository-input-group input-group">
                    <input 
                    class="input 
                    metadata-repository 
                    metadata-repository-name" 
                    type="text" 
                    placeholder="Enter repository name">
                    <input 
                    class="input 
                    metadata-repository 
                    metadata-repository-authority" 
                    type="text" 
                    placeholder="Enter authority record">
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Identifier</label>
            <div class="control">
              <div class="manuscript-identifier-input-group input-group">
                <input class="input metadata-manuscript-identifier" type="text" placeholder="Enter manuscript-identifier">
                <div class="select">
                  <select class="manuscript-identifier-dropdown">
                    <option value="isbn">ISBN</option>
                    <option value="issn">ISSN</option>
                    <option value="doi">DOI</option>
                    <option value="uri">URI</option>
                    <option value="viaf">VIAF</option>
                    <option value="estc">ESTC</option>
                    <option value="oclc">OCLC</option>
                    <!-- ADD "OTHER" OPTION? -->
                  </select>
                </div>
                <span class="button is-success is-light add-manuscript-identifier-button"><i class="fa-solid fa-plus"></i></span>
              </div>
            </div>
          </div>
          <div class="additional-manuscript-identifiers">
            <!-- Additional manuscript-identifiers will be inserted here -->
          </div>

    <h3 class="subtitle">msContents</h3>


</div>

