<label class="label">Additional notes</label>
<div class="field">
    <div class="note-input-group input-group">
      <div class="row">
        <div class="control has-icons-left">
          <textarea id="note-text" name="note-text" class="input metadata-note metadata-note-text" type="textarea" placeholder="Enter additional notes"></textarea>
          <span class="icon is-small is-left">
            <i class="fas fa-font"></i>
          </span>
        </div>
        <div class="control">
          <span class="button is-success is-light add-button add-note-button">
            <i class="fa-solid fa-plus"></i>
          </span>
        </div>
      </div>
    </div>
</div>
<div class="field additional-note additional-container">
  <!-- Additional notes will be inserted here -->
</div>
