<div class="box accordion">

  <div class="metadata-accordion-header title is-4">
    <a class="accordion-toggle">Project description</a>
  </div>

  <div class="accordion-content is-hidden">
    <div class="field">
        <label class="label">Project description</label>
        <div class="control">
          <div class="description-input-group input-group">
            <textarea id="description-text" name="description-text" class="input metadata-description" type="textarea" placeholder="Enter project description"></textarea>
          </div>
        </div>
    </div>
  </div>

</div>