<div class="field">
    <div class="row">
        <div class="field">
            <label class="label">Publication place</label>
            <div class="pubPlace-input-group input-group">
                <div class="control has-icons-left">
                    <input id="pubPlace-name" name="pubPlace-name" class="input metadata-pubPlace metadata-pubPlace-name" type="text" placeholder="Enter publication place name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-language"></i>
                    </span>
                </div>
                <div class="control has-icons-left">
                    <input id="pubPlace-authority" name="pubPlace-authority" class="input metadata-pubPlace metadata-pubPlace-authority" type="text" placeholder="Enter authority record">
                    <span class="icon is-small is-left">
                        <i class="fas fa-language"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Publication date</label>
            <div class="control has-icons-left">
                <div class="pubDate-input-group input-group">
                    <input id="pubDate-date" name="pubDate-date" class="input metadata-pubDate" type="date">
                    <span class="icon is-small is-left">
                        <i class="fas fa-language"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>