<div class="box accordion">
    
  <div class="metadata-accordion-header title is-4">
    <a class="accordion-toggle">Publication statement</a>
  </div>

  <div class="accordion-content is-hidden">
    <div class="field">
        <label class="label">Publication authorities</label>
        <div class="control">
          <div class="pubAuthority-input-group input-group">
            <input id="pubAuthority-name" name="pubAuthority-name" class="input metadata-pubAuthority metadata-pubAuthority-name" type="text" placeholder="Enter name">
            <input id="pubAuthority-authority" name="pubAuthority-authority" class="input metadata-pubAuthority metadata-pubAuthority-authority" type="text" placeholder="Enter authority record">
            <div class="select">
              <select id="pubAuthority-role" name="pubAuthority-role" class="responsibility-dropdown">
                <option value="NULL">--Select--</option>
                <option value="publisher">Publisher</option>
                <option value="distributor">Distributor</option>
                <option value="authority">Authority</option>
              </select>
            </div>
            <span class="button is-success is-light add-button add-pubAuthority-button"><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="additional-pubAuthority additional-container">
        <!-- Additional authorities will be inserted here -->
      </div>
    
      <div class="field">
        <label class="label">Publication place</label>
        <div class="control">
          <div class="pubPlace-input-group input-group">
            <input id="pubPlace-name" name="pubPlace-name" class="input metadata-pubPlace metadata-pubPlace-name" type="text" placeholder="Enter publication place name">
            <input id="pubPlace-authority" name="pubPlace-authority" class="input metadata-pubPlace metadata-pubPlace-authority" type="text" placeholder="Enter authority record">
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Publication date</label>
        <div class="control">
          <div class="pubDate-input-group input-group">
            <input id="pubDate-date" name="pubDate-date" class="input metadata-pubDate" type="date">
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label">Identifier</label>
        <div class="control">
          <div class="identifier-input-group input-group">
            <input id="identifier-text" name="identifier-text" class="input metadata-identifier" type="text" placeholder="Enter identifier">
            <div class="select">
              <select id="identifier-type" name="identifier-type" class="identifier-dropdown">
                <option value="NULL">--Select--</option>
                <option value="isbn">ISBN</option>
                <option value="issn">ISSN</option>
                <option value="doi">DOI</option>
                <option value="uri">URI</option>
                <option value="viaf">VIAF</option>
                <option value="estc">ESTC</option>
                <option value="oclc">OCLC</option>
                <!-- ADD "OTHER" OPTION? -->
              </select>
            </div>
            <span class="button is-success is-light add-button add-identifier-button"><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
      </div>
      <div class="additional-identifier additional-container">
        <!-- Additional identifiers will be inserted here -->
      </div>
    
      <div class="field">
        <label class="label">Availability</label>
        <div class="control">
          <div class="availability-input-group input-group">
            <textarea id="availability-text" name="availability-text" class="input metadata-availability metadata-availability-availability-text" type="textarea" placeholder="Enter license information"></textarea>
            <div class="select">
              <select id="availability-link" name="availability-link" class="status-dropdown">
                <option>--Select--</option>
                <option value="https://creativecommons.org/publicdomain/zero/1.0/">CC0 (Creative Commons Zero)</option>
                <option value="https://creativecommons.org/licenses/by/4.0/">CC BY (Attribution)</option>
                <option value="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA (Attribution-ShareAlike)</option>
                <option value="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC (Attribution-NonCommercial)</option>
                <option value="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA (Attribution-NonCommercial-ShareAlike)</option>
                <option value="https://opensource.org/licenses/MIT">MIT License</option>
                <option value="https://opensource.org/licenses/BSD-3-Clause">BSD License</option>
                <option value="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License (GPL)</option>
                <option value="https://www.gnu.org/licenses/lgpl-3.0.en.html">GNU Lesser General Public License (LGPL)</option>
                <!-- ADD "OTHER" OPTION? -->
              </select>
            </div>
            <div class="select">
              <select id="availability-status" name="availability-status" class="status-dropdown">
                <option>--Select--</option>
                <option value="free">Free</option>
                <option value="unknown">Unknown</option>
                <option value="restricted">Restricted</option>
                <!-- ADD "OTHER" OPTION? -->
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>