<label class="label">Responsibility</label>
<div class="field is-grouped">
    <div class="responsibility-input-group input-group">
        <div class="row">
            <div class="control has-icons-left">
                <input id="responsibility-surname" name="responsibility-surname" class="input metadata-responsibility metadata-responsibility-surname" type="text" placeholder="Enter surname">
                <span class="icon is-small is-left">
                    <i class="fas fa-people-group"></i>
                </span>
            </div>
            <div class="control has-icons-left">
                <input id="responsibility-name" name="responsibility-name" class="input metadata-responsibility metadata-responsibility-name" type="text" placeholder="Enter name">
                <span class="icon is-small is-left">
                    <i class="fas fa-person"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="control has-icons-left">
                <input id="responsibility-authority" name="responsibility-authority" class="input metadata-responsibility metadata-responsibility-authority" type="text" placeholder="Enter authority record">
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="control has-icons-left">
                <div class="select">
                    <select id="responsibility-role" name="responsibility-role" class="dropdown metadata-responsibility-role">
                        <option value="author">Author</option>
                        <option value="editor">Editor</option>
                        <option value="sponsor">Sponsor</option>
                        <option value="sponsor">Founder</option>
                        <option value="sponsor">Principal</option>
                        <!-- Add "Other" option? -->
                    </select>
                </div>
                <span class="icon is-small is-left">
                    <i class="fas fa-user-gear"></i>
                </span>
            </div>    
            <div class="control">
                <span class="button is-success is-light add-button add-responsibility-button">
                    <i class="fa-solid fa-plus"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="field additional-responsibility additional-container">
    <!-- Additional responsibilities will be inserted here -->
</div>