<div class="box accordion">

  <div class="metadata-accordion-header title is-4">
    <a class="accordion-toggle">Source description</a>
  </div>

  <div class="accordion-content is-hidden">
    <div class="field">
        <label class="label">Source</label>
        <div class="control">
          <div class="source-input-group input-group">
            <input id="source-text" name="source-text" class="input metadata-source" type="text" placeholder="Enter bibliographic source">
            <span class="button is-success is-light add-button add-source-button"><i class="fa-solid fa-plus"></i></span>
          </div>
        </div>
    </div>
    <div class="additional-source additional-container">
      <!-- Additional identifiers will be inserted here -->
    </div>
  </div>

</div>