<label class="label">Source</label>
<div class="field">
    <div class="source-input-group input-group">
      <div class="control has-icons-left">
        <input id="source-text" name="source-text" class="input metadata-source metadata-source-text" type="text" placeholder="Enter source">
        <!--
        <div class="row">
          <div class="control has-icons-left">
              <input id="responsibility-surname" name="responsibility-surname" class="input metadata-responsibility metadata-responsibility-surname" type="text" placeholder="Enter surname">
              <span class="icon is-small is-left">
                  <i class="fas fa-people-group"></i>
              </span>
          </div>
          <div class="control has-icons-left">
              <input id="responsibility-name" name="responsibility-name" class="input metadata-responsibility metadata-responsibility-name" type="text" placeholder="Enter name">
              <span class="icon is-small is-left">
                  <i class="fas fa-person"></i>
              </span>
          </div>
          <div class="row">
              <div class="control has-icons-left">
                  <input id="responsibility-authority" name="responsibility-authority" class="input metadata-responsibility metadata-responsibility-authority" type="text" placeholder="Enter authority record">
                  <span class="icon is-small is-left">
                      <i class="fas fa-link"></i>
                  </span>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="control has-icons-left">
              <input id="title-text" name="title-text" class="input metadata-title metadata-title-text" type="text" placeholder="Enter title">
              <span class="icon is-small is-left">
                  <i class="fas fa-font"></i>
              </span>
          </div>
        </div>
        <div class="row">
          <div class="field">
              <div class="pubPlace-input-group input-group">
                  <div class="control has-icons-left">
                      <input id="pubPlace-name" name="pubPlace-name" class="input metadata-pubPlace metadata-pubPlace-name" type="text" placeholder="Enter publication place name">
                      <span class="icon is-small is-left">
                          <i class="fas fa-language"></i>
                      </span>
                  </div>
                  <div class="control has-icons-left">
                      <input id="pubPlace-authority" name="pubPlace-authority" class="input metadata-pubPlace metadata-pubPlace-authority" type="text" placeholder="Enter authority record">
                      <span class="icon is-small is-left">
                          <i class="fas fa-language"></i>
                      </span>
                  </div>
              </div>
            </div>
            <div class="field">
                <div class="control has-icons-left">
                    <div class="pubDate-input-group input-group">
                        <input id="pubDate-date" name="pubDate-date" class="input metadata-pubDate" type="date">
                        <span class="icon is-small is-left">
                            <i class="fas fa-language"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="control has-icons-left">
              <input id="pubAuthority-name" name="pubAuthority-name" class="input metadata-pubAuthority metadata-pubAuthority-name" type="text" placeholder="Enter publisher name">
              <span class="icon is-small is-left">
                  <i class="fas fa-font"></i>
              </span>
          </div>
        </div>
        <div class="row">
          <div class="control has-icons-left">
              <input id="pubAuthority-authority" name="pubAuthority-authority" class="input metadata-pubAuthority metadata-pubAuthority-authority" type="text" placeholder="Enter publisher authority record">
              <span class="icon is-small is-left">
                  <i class="fas fa-font"></i>
              </span>
          </div>
        </div>
        <div class="row">
          <div class="control has-icons-left">
              <input id="pubAuthority-authority" name="pubAuthority-authority" class="input metadata-pubAuthority metadata-pubAuthority-authority" type="text" placeholder="Enter page number">
              <span class="icon is-small is-left">
                  <i class="fas fa-font"></i>
              </span>
          </div>
          <div class="control has-icons-left">
            <input id="pubAuthority-authority" name="pubAuthority-authority" class="input metadata-pubAuthority metadata-pubAuthority-authority" type="text" placeholder="Enter volume">
            <span class="icon is-small is-left">
                <i class="fas fa-font"></i>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="control has-icons-left">
              <input id="pubAuthority-authority" name="pubAuthority-authority" class="input metadata-pubAuthority metadata-pubAuthority-authority" type="text" placeholder="Enter DOI">
              <span class="icon is-small is-left">
                  <i class="fas fa-font"></i>
              </span>
          </div>
        </div>
    -->

        <span class="button is-success is-light add-button add-source-button"><i class="fa-solid fa-plus"></i></span>
      </div>
    </div>
</div>
<div class="additional-source additional-container">
  <!-- Additional identifiers will be inserted here -->
</div>