<div class="box accordion">

    <div class="metadata-accordion-header title is-4">
      <a class="accordion-toggle">Classification</a>
    </div>
  
    <div class="accordion-content is-hidden">
        <div class="field">
            <label class="label">Category</label>
            <div class="control">
              <div class="category-input-group input-group">
                <div class="select">
                    <select class="category-dropdown">
                      <option value="book">Book</option>
                      <option value="magazine">Magazine</option>
                      <option value="newspaper">Newspaper</option>
                      <option value="brochure">Brochure</option>
                      <option value="pamphlet">Pamphlet</option>
                      <option value="letter">Letter</option>
                      <option value="manuscript">Manuscript</option>
                      <option value="diary">Diary</option>
                      <option value="journal">Journal</option>
                      <option value="report">Report</option>
                      <option value="memo">Memo</option>
                      <option value="certificate">Certificate</option>
                      <option value="contract">Contract</option>
                      <!-- Add more doctype options here -->
                    </select>
                </div>
                <span class="button is-success is-light add-category-button"><i class="fa-solid fa-plus"></i></span>
              </div>
            </div>
        </div>
        <div class="additional-categories">
          <!-- Additional categories will be inserted here -->
        </div>
    </div>

</div>