<label class="label">Title</label>
<div class="field">
    <div class="title-input-group input-group">
        <div class="row column">
            <div class="row">
            <div class="control has-icons-left flex-5">
                <input id="title-text" name="title-text" class="input metadata-title metadata-title-text" type="text" placeholder="Enter title">
                <span class="icon is-small is-left">
                    <i class="fas fa-font"></i>
                </span>
            </div>
            <div class="control has-icons-left flex-1">
                <div class="select">
                    <select id="title-language" name="title-language" class="select metadata-title metadata-title-language">
                        <option value="">--Select--</option>
                        <option value="en">en</option>
                        <option value="it">it</option>
                        <option value="es">es</option>
                        <option value="fr">fr</option>
                        <!-- Add more language options here -->
                    </select>
                </div>
                <span class="icon is-small is-left">
                    <i class="fas fa-language"></i>
                </span>
            </div>
            </div>
                <span class="button is-success is-light add-button add-title-button">
                    <i class="fa-solid fa-plus"></i>
                </span>   
        </div>
    </div>
</div>
<div class="field additional-title additional-container">
    <!-- Additional titles will be inserted here -->
</div>