<div class="box accordion">

    <div class="metadata-accordion-header title is-4">
        <a class="accordion-toggle">Title statement</a>
    </div>

    <div class="accordion-content is-hidden">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
            <div class="title-input-group input-group">
                <input id="title-text" name="title-text" class="input metadata-title metadata-title-text" type="text" placeholder="Enter title">
                <div class="select">
                    <select id="title-language" name="title-language" class="select metadata-title metadata-title-language">
                        <option>--Select--</option>
                        <option value="en">en</option>
                        <option value="it">it</option>
                        <option value="es">es</option>
                        <option value="fr">fr</option>
                        <!-- Add more language options here -->
                    </select>
                </div>
                <span class="button is-success is-light add-button add-title-button"><i class="fa-solid fa-plus"></i></span>
            </div>
            </div>
        </div>
        <div class="additional-title additional-container">
            <!-- Additional titles will be inserted here -->
        </div>

        <div class="field">
            <label class="label">Responsibility</label>
            <div class="control">
            <div class="responsibility-input-group input-group">
                <input id="resp-surname" name="resp-surname" class="input metadata-responsibility metadata-responsibility-surname" type="text" placeholder="Enter surname">
                <input id="resp-name" name="resp-name" class="input metadata-responsibility metadata-responsibility-name" type="text" placeholder="Enter name">
                <input id="resp-authority" name="resp-authority" class="input metadata-responsibility metadata-responsibility-authority" type="text" placeholder="Enter authority record">
                <div class="select">
                    <select id="resp-role" name="resp-role" class="responsibility-dropdown">
                        <option value="author">Author</option>
                        <option value="editor">Editor</option>
                        <option value="sponsor">Sponsor</option>
                        <option value="sponsor">Founder</option>
                        <option value="sponsor">Principal</option>
                        <!-- Add "Other" option? -->
                    </select>
                </div>
                <span class="button is-success is-light add-button add-responsibility-button"><i class="fa-solid fa-plus"></i></span>
            </div>
            </div>
        </div>
        <div class="additional-responsibility additional-container">
            <!-- Additional responsibilities will be inserted here -->
        </div>
    </div>
    
</div>