<div class="modal annotation-modal" data-reference="{{ reference.id }}">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
            <p class="modal-card-title">Annotations for {{ reference.text }} </p>
            <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        {% for annotation in reference.annotation %}
          {% include 'annotation.html' %}
        {% endfor %}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-link add-annotation-button">Add</button>
      </footer>
    </div>
</div>