<div id="annotation-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <div>
            <p class="modal-card-title">Annotations for REFERENCE LABEL</p>
            <button class="delete" aria-label="close"></button>
        </div>
        <div>
            <button class="button add-annotation-button">
                Add
            </button>
        </div>
      </header>
      <section class="modal-card-body">
        FOR ANNOTATION IN REFERENCE.ANNOTATION
            {% include 'annotation.html' %}
      </section>
    </div>
</div>