<div class="tabs">
    <ul>
        <li class="tab people-tab is-active" data-name="people"><a>People</a></li>
        <li class="tab places-tab" data-name="places"><a>Places</a></li>
        <li class="tab works-tab" data-name="works"><a>Works</a></li>
        <li class="tab organizations-tab" data-name="organizations"><a>Organizations</a></li>
        <li class="tab dates-tab" data-name="dates"><a>Dates</a></li>
    </ul>
</div>
<div class="tab-content">
  <div class="people-content panel-content">
    <div class="people-panel-blocks">
      {% for entity in entities if entity.type == "person" %}
        {% include 'entity_box.html' %}
      {% endfor %}
    </div>
  </div>
  <div class="places-content panel-content hidden">
    <div class="places-panel-blocks">
      {% for entity in entities if entity.type == "place" %}
        {% include 'entity_box.html' %}
      {% endfor %}
    </div>
  </div>
  <div class="works-content panel-content hidden">
    <div class="works-panel-blocks">
      {% for entity in entities if entity.type == "work" %}
        {% include 'entity_box.html' %}
      {% endfor %}
    </div>
  </div>
  <div class="organizations-content panel-content hidden">
    <div class="organizations-panel-blocks">
      {% for entity in entities if entity.type == "organization" %}
        {% include 'entity_box.html' %}
      {% endfor %}
    </div>
  </div>
  <div class="dates-content panel-content hidden">
    <div class="dates-panel-blocks">
      {% for entity in entities if entity.type == "date" %}
        {% include 'entity_box.html' %}
      {% endfor %}
    </div>
  </div>
</div>