<div 
class="box panel-block {{ entity.type }}-block" 
id="entity-{{ entity.id }}" 
data-id="{{ entity.id }}" 
draggable="true">
    <div class="header-wrapper">
        <span class="panel-icon">
            <i class="fas fa-{{ entity.type }}"></i>
        </span>
        <a class="accordion-header" role="button" aria-expanded="false">
                {% for reference in entity.reference %}
                    {{ reference.text }}
                {% endfor %}
        </a>
        <div class="accordion-utilities">
            <span class="counter tag is-info is-light">
                {{ entity.reference | length }}
            </span>
            <button class="delete-button">
                <i class="fas fa-remove"></i>
            </button>
        </div>
    </div>
    <div class="accordion-content is-hidden">
        <form action="PUT" class="entity-form">
            <div class="field entity-label">
                <label class="label">Label</label>
                <div class="control">
                    <input class="input" type="text" name="{{ entity.label }}" placeholder="Enter entity's label">
                </div>
            </div>
            <div class="field entity-authority">
                <label class="label">Authority record</label>
                <div class="control">
                    <input class="input" type="text" name="{{ entity.authority }}" placeholder="Enter entity's authority">
                </div>
            </div>
        </form>
    </div>
</div>