<div class="column is-two-thirds">
    <form method="post" action="{{ url_for('associate_images', id=document.id) }}">
        <ul>
            {% for image in images %}
            <li>
                <label>
                    <input type="checkbox" name="selected_images" value="{{ image.filename }}">
                    {{ image.filename }}
                </label>
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Associate Selected Images</button>
    </form>
    
</div>