<div class="column is-two-thirds">
    
    <h2 class="subtitle">Upload image</h2>
    <form 
    method="post" 
    action="{{ url_for('create_image', document_id=document.id) }}" 
    enctype="multipart/form-data"
    >
        <div 
        id="file-upload" 
        class="field file has-name"
        >
            <label class="file-label">
                <input class="file-input" type="file" name="file">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Choose a file…
                    </span>
                </span>
                <span class="file-name">
                    No file uploaded
                </span>
            </label>
        </div>
        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">
                    Upload
                </button>
            </div>
        </div>
    </form>
    
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td>
                        <img 
                        src="{{ url_for('get_image', image_id=image.id) }}" 
                        alt="Uploaded Image" 
                        width="300" 
                        height="200"
                        >
                    </td>
                    <td>
                        {{ image.name }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<script>
    const fileInput = document.querySelector('#file-upload input[type=file]');
    fileInput.onchange = () => {
      if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#file-upload .file-name');
        fileName.textContent = fileInput.files[0].name;
      }
    }
</script>