<form class="metadata-form">

  {% include 'metadata_form/titleStmt.html' %}

  {% include 'metadata_form/publicationStmt.html' %}

  {% include 'metadata_form/sourceDesc.html' %}

  {% include 'metadata_form/editionStmt.html' %}

  {% include 'metadata_form/extent.html' %}

  {% include 'metadata_form/seriesStmt.html' %}

  {% include 'metadata_form/notesStmt.html' %}

  {% include 'metadata_form/projectDesc.html' %}

  {% include 'metadata_form/samplingDecl.html' %}

  {% include 'metadata_form/editorialDecl.html' %}

  {% include 'metadata_form/abstract.html' %}

  {% include 'metadata_form/creation.html' %}

  {% include 'metadata_form/langUsage.html' %}

  {% include 'metadata_form/calendarDesc.html' %}

  {% include 'metadata_form/correspDesc.html' %}

  <!-- msDesc -->

  <!-- textDesc -->

  <!-- particDesc -->

  <!-- settingDesc -->

  <!-- handNotes -->

  <!-- Submit button here -->
</form>
