<form class="metadata-form" method="POST" action="{{ url_for('save_metadata', id=document.id) }}">

  {% include 'metadata_form/titleStmt.html' %}

  {% include 'metadata_form/publicationStmt.html' %}

  {% include 'metadata_form/sourceDesc.html' %}

  {% include 'metadata_form/notesStmt.html' %}

  {% include 'metadata_form/projectDesc.html' %}

  {% include 'metadata_form/abstract.html' %}

  {% include 'metadata_form/creation.html' %}

  {% include 'metadata_form/langUsage.html' %}

  {% include 'metadata_form/textClass.html' %}

  <button type="submit">Save Changes</button>
</form>
