{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>New Document</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('new_document') }}">
        <label for="docTitle">Document title:</label>
        <input type="text" name="docTitle" id="docTitle"><br><br>
        <label for="content">Content:</label><br>
        <textarea name="content" id="content" rows="10" cols="50"></textarea><br><br>
        <input type="submit" value="Save">
    </form>
{% endblock %}