<html lang="">
    <head 
    prefix="
    rdfs: http://www.w3.org/2000/01/rdf-schema# 
    owl: http://www.w3.org/2002/07/owl# 
    foaf: http://xmlns.com/foaf/0.1/ 
    skos: http://www.w3.org/2004/02/skos/core#
    dcterms: http://purl.org/dc/terms/
    fabio: http://purl.org/spar/fabio/
    frbr: http://purl.org/vocab/frbr/core#
    ">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="author" content="Jane Doe">
        <meta name="keywords" content="">
        <meta name="description" content="">
        
        <!--document descriptive metadata-->
        <title></title>
        <!--
        <meta rel="" href="">
        <meta content="" name="dcterms.creator">
        ... editor
            sponsor
            founder
            principal
        <meta content="" name="dcterms.publisher">
        ... distributor
            authority
        <meta content="" name="dcterms.alternative">
        <meta content="" name="dcterms.rights">
        <meta content="" name="dcterms.identifier">
        <meta content="" name="dcterms.bibliographicCitation">
        <meta content="" name="dcterms.abstract">
        <meta content="" name="dcterms.created">
        <meta content="" name="fabio.hasPublicationDate">
        <meta content="" name="fabio.hasPlaceOfPublication">
        <meta content="" name="dcterms.type">
        <meta content="" name="dcterms.source">
        
        <meta content="" name="frbr.hasPart">
        ...
        -->
    </head>
    <body 
    prefix="
    deo: http://purl.org/spar/deo/ 
    dcterms: http://purl.org/dc/terms/ 
    fabio: http://purl.org/spar/fabio/
    ">
        <!--
        <h1></h1>
        
        <p 
        class="paragraph"
        about=""
        typeof="doco:Paragraph" ????
        property=""
        resource=""
        data-counter="" 
        id=""
        >
            <span 
            class="reference TYPE"
            about="" 
            typeof="deo:Reference"
            property="dcterms:references" 
            resource="" 
            id="reference-ID" 
            >TEXT</span>
        -->
    </body>
</html>