<html>
    <head 
    prefix="rdfs: http://www.w3.org/2000/01/rdf-schema# 
    owl: http://www.w3.org/2002/07/owl# 
    foaf: http://xmlns.com/foaf/0.1/ 
    skos: http://www.w3.org/2004/02/skos/core#
    dcterms: http://purl.org/dc/terms/
    fabio: http://purl.org/spar/fabio/
    frbr: http://purl.org/vocab/frbr/core#">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="dcterms.rights">
        <meta content="" name="dcterms.identifier">
        <meta content="" name="dcterms.bibliographicCitation">
        <meta content="" name="dcterms.abstract">
        <meta content="" name="dcterms.created">
        <meta content="" name="fabio.hasPublicationDate">
        <meta content="" name="fabio.hasPlaceOfPublication">
        <meta content="" name="dcterms.type">
        <meta content="" name="dcterms.source">
        
        <meta content="" name="frbr.hasPart">
        ...

        <title></title>
    </head>
    <body 
    prefix="deo: http://purl.org/spar/deo/ 
    dcterms: http://purl.org/dc/terms/ 
    fabio: http://purl.org/spar/fabio/">
        <h1></h1>
        <p class="paragraph" 
        data-counter="" 
        id="">
        
            <span about="" 
            class="reference TYPE" 
            id="reference-ID" 
            property="dcterms:references" 
            resource="" 
            typeof="deo:Reference">TEXT</span>

    </body>
</html>